body {
    font-family: arial;
}

#input-box {
    display: none;
}

#colorpicker {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
}
.colors {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 2em;
}
.colorbox {
    border: 1px solid black;
    width: 48px;
    height: 20px;
    border-radius: 2px;
}